# Node.js dependencies
node_modules/
package-lock.json

# Build output
dist/
build/
out/

# Environment variables
.env

# Firebase files
firebase-debug.log
.firebaserc
*.fcm

# Ignore the Firebase service account key
config/firebaseConfig.json
# Logs
logs/
*.log

# IDE or Editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Miscellaneous
coverage/
*.tgz
